.createHomePage {
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-size: cover;
  background-position: center;
  .buttonBox {
    position: absolute;
    left: 0;
    bottom: 37px;
    width: 100%;
    text-align: center;
    button {
      font-family: "IntroLipton-Black";
      font-size: 24px;
      height: 40px;
      margin-bottom: 20px;
    }
  }
}
