.gameLobbyPage {
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-size: cover;
  background-position: center;
  h2{
      font-family: 'IntroLipton-Black';
      font-size: 24px;
      color: #fff;
      text-align: center;
      margin-top: 41px;
  }
  .buttonBox {
    position: absolute;
    left: 0;
    bottom: 37px;
    width: 100%;
    text-align: center;
    form {
      width: 302px;
      max-width: 100%;
      margin: 0 auto;
      .white-pill-button {
        font-family: "IntroLipton-Black";
        font-size: 24px;
        width: 302px;
        height: 40px;
      }
      .sliderSection {
        margin: 26px auto 20px;
      }
    }
  }
  .loadingIconBox{
      display: flex;
      justify-content: center;
  }
  .qrcode{
    position: absolute;
    top: 35%;
    left: 48%;
    width: 132px;
    height: 132px;
    transform: rotate(6deg);
  }
}
