.textBox{
    position: fixed;
    left: 0;
    top: 36%;
    width: 100%;
    text-align: center;
    p{
        font-family: 'IntroLipton-Black';
        font-size: 18px;
        color: #28348B;
        margin: 0;
    }
    h1{
        font-family: 'LiptonHighlight';
        font-size: 52px;
        line-height: 1;
        margin: 0;
    }
}
.btnBox{
    position: fixed;
    left: 0;
    bottom: 49px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        height: 40px;
        font-size: 24px;
        text-transform: uppercase;
    }
    button:first-child{
        margin-bottom: 30px;
    }
}
