@keyframes ldioXhmg4vbkan {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .ldioXhmg4vbkan div {
    left: 96px;
    top: 58px;
    position: absolute;
    animation: ldioXhmg4vbkan linear 1s infinite;
    background: #f9f6f7;
    width: 8px;
    height: 24px;
    border-radius: 0px / 0px;
    transform-origin: 4px 42px;
  }
  .ldioXhmg4vbkan div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.875s;
    background: #f9f6f7;
  }
  .ldioXhmg4vbkan div:nth-child(2) {
    transform: rotate(45deg);
    animation-delay: -0.75s;
    background: #f9f6f7;
  }
  .ldioXhmg4vbkan div:nth-child(3) {
    transform: rotate(90deg);
    animation-delay: -0.625s;
    background: #f9f6f7;
  }
  .ldioXhmg4vbkan div:nth-child(4) {
    transform: rotate(135deg);
    animation-delay: -0.5s;
    background: #f9f6f7;
  }
  .ldioXhmg4vbkan div:nth-child(5) {
    transform: rotate(180deg);
    animation-delay: -0.375s;
    background: #f9f6f7;
  }
  .ldioXhmg4vbkan div:nth-child(6) {
    transform: rotate(225deg);
    animation-delay: -0.25s;
    background: #f9f6f7;
  }
  .ldioXhmg4vbkan div:nth-child(7) {
    transform: rotate(270deg);
    animation-delay: -0.125s;
    background: #f9f6f7;
  }
  .ldioXhmg4vbkan div:nth-child(8) {
    transform: rotate(315deg);
    animation-delay: 0s;
    background: #f9f6f7;
  }
  .ldioXhmg4vbkan {
    width: 60px;
    height: 60px;
    position: relative;
    transform: translateZ(0) scale(0.3);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldioXhmg4vbkan div {
    box-sizing: content-box;
  }