.rateTitleText {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "LiptonHighlight";
  font-size: 62px;
  h1 {
    font-family: "LiptonHighlight";
    font-size: 62px;
    line-height: 62px;
    margin: 0;
  }
  h2 {
    font-family: "IntroLipton-Black";
    font-size: 42px;
    line-height: 42px;
    margin: 14px 0 0;
  }
}
